<form action="https://api.web3forms.com/submit" method="POST" >
    <input type="hidden" name="apikey" value="d0f1e2b6-e403-428f-b63e-6cb54a32bf51">
    <div>
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" required/>
    </div>
    <div>
        <label for="email">Email: </label>
        <input type="email" name="email" id="email" required/>
    </div>
    <div>
        <label for="message">Message: </label>
        <textarea name="message" id="message" rows="3"></textarea>
    </div>
    <div>
        <button type="submit">Send message</button>
    </div>
</form>