<%- include('partials/header') -%> 
<!-- partials folder lets us use header and footer ejs so we don't have to re-type code -->
<main>
    <section class="about">
        <h2>About Us</h2>
        <p style="text-indent:10%";>Welcome to Feed Folks! We're a community-centered food equity hub for folks to connect with one another, disseminate resources with ways to access free/affordable produce/meals, and translate materials to ensure events are equitable.
        </p>
    </section>
    <section class="sign">
        <p class="text-center">Login or Signup:</p>
        <div class="signup">
            <a href="/login" class="btn"><button class="fa fa-user" type="button"></button>Login</a>
            <a href="/signup" class="btn"><span class="fa fa-user"></span>Signup</a>
        </div>
    </section>
</main>

<section>
<div class="questions">
    <h3>Questions to Navigate</h3>
    <button class="accordion">Where do I begin with finding resources?</button>
    <div class="panel">

        
    </div>
    <button class="accordion">How can I get connected with other people?</button>
    <div class="panel">
    </div>
    <button class="accordion">Why not use other platforms?</button>
    <div class="panel">
        While various social media platforms exist, not every organization or resource is posted in every forum and people of different identities may not participate in the same spaces. Older folks, non-English speakers, and more hold marginalized identities that may lead to contrasting engagement on various platforms.
    </div>
</div>
</section>

<footer>
</footer>
    
<script type="text/javascript" src="js/main.js"></script>
<%- include('partials/footer') -%>