<%- include('partials/header') -%> 
<!-- partials folder lets us use header and footer ejs so we don't have to re-type code -->
<main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>